.header {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
}

.header-nav {
  padding: 0.5em 0;
}

.header-nav__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: var(--max-width-container);
  margin: auto;
  padding: var(--padding-container);
}

.header-nav__link-logo-container {
  display: flex;
  height: 3rem;
  border-radius: 50%;
  overflow: hidden;
  transition: var(--all-transitions);
}

.header-nav__link-logo {
  height: 100%;
}

.header-nav__menu-icon-label {
  font-size: 2rem;
  cursor: pointer;
  transition: var(--all-transitions);
}

.header-nav__menu-icon-label:hover {
  text-shadow: 0 0 0.25rem #ee9b01, 0 0 0.5rem var(--primary-highlight-color);
}

.header-nav__menu-icon-checkbox {
  display: none;
}

.header-nav__menu-icon-checkbox:checked + .header-nav__menu-link-list {
  left: 0;
}

.Header-Name__app {
  color: #68904d;
  position: fixed;
  left: 19%;
}

.header-nav__menu-link-list {
  position: fixed;
  top: 4rem;
  left: 100%;
  width: 100%;
  height: calc(100% - 4rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin: 0;
  padding: 0;
  background-color: var(--secondary-shadow-color);
  list-style: none;
  transition: var(--all-transitions);
}

.header-nav__menu-link-item {
  display: flex;
}

.header-nav__menu-link {
  position: relative;
  color: #68904d;
  font-weight: 600;
  text-decoration: none;
  transition: var(--all-transitions);
}

.header-nav__menu-link:hover,
.header-nav__menu-link--active {
  color: #ee9b01;
}

.header-nav__menu-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -0.125rem;
  width: 0;
  height: 0.0625rem;
  background-color: #68904d;
  transition: var(--all-transitions);
}

.header-nav__menu-link:hover::after,
.header-nav__menu-link--active::after {
  width: 100%;
}

@media (min-width: 854px) {
  .header-nav__menu-icon-label {
    display: none;
  }

  .header-nav__menu-link-list {
    position: static;
    width: auto;
    flex-direction: row;
    gap: 1.5rem;
    list-style: none;
    background-color: transparent;
  }
}

.projects__item-button {
  font-weight: 700;
  background-color: var(--button-color);
  border-radius: var(--border-radius);
  padding: 0.5em 1em;
  color: #68904d;
  text-decoration: none;
  transition: var(--all-transitions);
}

.projects__item-button--bg-gold {
  background-color: #ffffff;
}

.projects__item-button--bg-gold-2 {
  background-color: #ee9b01;
}

.projects__item-button--bg-gold-2:hover {
  background-color: var(--button-color-active);
}
.projects__item-button--bg-gold:hover {
  background-color: #ee9b01;
}
.projects__item-button-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 0 1rem 1rem;
  margin-top: auto;
}
